@font-face {
	font-family: "berlingske-serif-300";
	src: url("../fonts/BerlingskeSerif-Lt.woff2") format("woff2");
}
@font-face {
	font-family: "berlingske-serif-400";
	src: url("../fonts/BerlingskeSerif-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "berlingske-serif-500";
	src: url("../fonts/BerlingskeSerif-Md.woff2") format("woff2");
}
@font-face {
	font-family: "berlingske-serif-600";
	src: url("../fonts/BerlingskeSerif-SemiBold.woff2") format("woff2");
}
@font-face {
	font-family: "berlingske-serif-700";
	src: url("../fonts/BerlingskeSerif-Bold.woff2") format("woff2");
}
@font-face {
	font-family: "berlingske-serif-700-italic";
	src: url("../fonts/BerlingskeSerif-BoldItalic.woff2") format("woff2");
}
@font-face {
	font-family: "berlingske-serif-800";
	src: url("../fonts/BerlingskeSerif-ExtraBold.woff2") format("woff2");
}
@font-face {
	font-family: "berlingske-serif-900";
	src: url("../fonts/BerlingskeSerif-Bkl.woff2") format("woff2");
}
