$berlingske-serif-300: "berlingske-serif-300";
$berlingske-serif-400: "berlingske-serif-400";
$berlingske-serif-500: "berlingske-serif-500";
$berlingske-serif-600: "berlingske-serif-600";
$berlingske-serif-700: "berlingske-serif-700";
$berlingske-serif-700-italic: "berlingske-serif-700-italic";
$berlingske-serif-800: "berlingske-serif-800";
$berlingske-serif-900: "berlingske-serif-900";
$inter: "Inter", sans-serif;

$primary: #235d41;
$black: #1c1d1d;
$primaryLight: #6e8f15;
$white: #fff;
$body: #f2efe7;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: $inter;
	font-size: 14px;
	font-weight: 400;
	background-color: $body;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	span {
		color: $primaryLight;
	}
}

h1 {
	font-size: 32px;
	line-height: 40px;
	letter-spacing: -0.02em;
	span {
		font-style: italic;
	}
}

h1,
h4 {
	font-family: $berlingske-serif-700;
}

h2 {
	font-family: $berlingske-serif-400;
	font-size: 24px;
	line-height: 32px;

	span {
		font-family: $berlingske-serif-800;
		color: $primary;
	}
}

h3 {
	font-family: $berlingske-serif-600;
}

p,
a,
span,
small,
strong {
	line-height: 24px;
	margin: 0;
}

a,
span,
small,
strong {
	line-height: 24px;
	margin: 0;
	display: inline-block;
}

a {
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	color: initial;
}

input {
	&:not([type="checkbox"]):not([type="radio"]) {
		width: 100%;
	}
	&::placeholder {
		opacity: 0.4;
	}
	&:focus {
		outline: $primary;
	}
}

button {
	background-color: transparent;
	outline: none;
	border: none;
}

ul,
li,
ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

small,
.sm-text,
.over-title {
	font-size: 12px;
	line-height: 19px;
}

.over-title {
	text-transform: uppercase;
	font-weight: 600;
}

.section-padding-y {
	padding: 48px 0;
}

.section-gap {
	margin-bottom: 48px;
}

.tpfl-btn {
	border-radius: 4px;
	padding: 12px 36px;
	&.tpfl-btn-filled {
		background-color: $primary;
		color: $white;

		&:hover {
			background-color: $primaryLight;
		}
	}
	&.tpfl-btn-outlined {
		border: 1px solid $primary;

		&:hover {
			background-color: $primary;
			color: $white;
		}
	}
}

.section-title {
	margin-bottom: 24px;
	h1,
	h2,
	h3,
	h4,
	h5 {
		&:has(+ p) {
			margin-bottom: 12px;
		}
	}
}

.slick-dots {
	position: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-top: 32px;

	li {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: $primaryLight;

		&.slick-active {
			background-color: $primary;
		}

		* {
			display: none !important;
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #0f1c15a8;
	z-index: 8;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}
