$berlingske-serif-300: "berlingske-serif-300";
$berlingske-serif-400: "berlingske-serif-400";
$berlingske-serif-500: "berlingske-serif-500";
$berlingske-serif-600: "berlingske-serif-600";
$berlingske-serif-700: "berlingske-serif-700";
$berlingske-serif-700-italic: "berlingske-serif-700-italic";
$berlingske-serif-800: "berlingske-serif-800";
$berlingske-serif-900: "berlingske-serif-900";
$inter: "Inter", sans-serif;

$primary: #235d41;
$primary-100: rgba(35, 93, 65, 0.1);
$black: #1c1d1d;
$blackTransparent: rgba(0, 0, 0, 0.1);
$primaryLight: #6e8f15;
$white: #fff;
$white-400: rgba(255, 255, 255, 0.4);
$body: #f2efe7;
$description: #585c5c;
$red: #ef0e24;
$red-100: rgba(227, 5, 9, 0.1);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: $inter;
	font-size: 14px;
	font-weight: 400;
	background-color: $body;
	color: $description;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	color: $black;
	span {
		color: $primaryLight;
	}
}

h1 {
	font-size: 32px;
	line-height: 40px;
	letter-spacing: -0.02em;
	span {
		font-style: italic;
	}
}

h1,
h4,
h5 {
	font-family: $berlingske-serif-700;
}

h2 {
	font-family: $berlingske-serif-400;
	font-size: 24px;
	line-height: 32px;

	span {
		font-family: $berlingske-serif-800;
		color: $primary;
	}
}

h3 {
	font-family: $berlingske-serif-600;
}

h5 {
	font-size: 16px;
	line-height: 19px;
}

p,
a,
span,
small,
strong {
	display: inline-block;
	line-height: 19px;
	margin: 0;

	&.error {
		color: $red !important;
	}
}

a {
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	color: initial;
}

textarea,
select,
input:not([type="checkbox"]):not([type="radio"]) {
	width: 100%;
	padding: 8px 16px;
	border: 1px solid $blackTransparent;
	border-radius: 8px;

	&::placeholder {
		opacity: 0.4;
	}
	&:focus {
		outline: $primary;
	}
}

textarea,
select,
input {
	&:focus {
		outline: $primary;
	}
}

button {
	background-color: transparent;
	outline: none;
	border: none;
}

ul,
li,
ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

iframe {
	width: 100%;
	height: clamp(400px, 60vh, 600px);
}

small,
.sm-text,
.over-title {
	font-size: 12px;
	line-height: 19px;
}

.over-title {
	text-transform: uppercase;
	font-weight: 600;
}

.section-padding-y {
	padding: 48px 0;
}

.section-gap {
	margin-bottom: 48px;
}

.section-padding-y.section-gap {
	&:has(+ .section-padding-y) {
		margin-bottom: 0;
	}
}

.bg-gradient {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: linear-gradient(180deg, #fff 85%, #f2efe7 100%);
		height: clamp(250px, 55vh, 720px);
		z-index: -1;
	}
}

.bg-primary {
	background-color: $primary !important;
}

.bg-white-400 {
	background-color: $white-400;
}

.tpfl-btn {
	border-radius: 4px;
	padding: 12px 36px;
	&.tpfl-btn-filled {
		background-color: $primary;
		color: $white;

		&:hover {
			background-color: $primaryLight;
		}
	}
	&.tpfl-btn-outlined {
		border: 1px solid $primary;

		&:hover {
			background-color: $primary;
			color: $white;
		}
	}
}
.tpfl-btn-text {
	color: $primary;
	&:hover {
		color: $primaryLight;
	}
}
.tpfl-btn-underlined {
	text-decoration: underline;
	text-underline-offset: 2px;
}

input[type="submit"] {
	border-radius: 4px;
	padding: 12px 36px;
	background-color: $primary;
	color: $white;
	cursor: pointer;
	max-width: fit-content;

	&:hover {
		background-color: $primaryLight;
	}
}

.section-title {
	margin-bottom: 24px;
	h1,
	h2,
	h3,
	h4,
	h5 {
		&:has(+ p) {
			margin-bottom: 12px;
		}
	}
	h2 {
		font-family: $berlingske-serif-600;
	}
}

.slick-dots {
	position: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-top: 32px;

	li {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: $primaryLight;

		&.slick-active {
			background-color: $primary;
		}

		* {
			display: none !important;
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #0f1c15a8;
	z-index: 8;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.input-field {
	margin-bottom: 24px;
	span {
		display: block;
	}

	label {
		margin-bottom: 8px;
		display: block;
		font-family: $berlingske-serif-600;
	}

	h5 {
		font-family: $inter;
		font-weight: 600;
		span {
			display: inline-block;
		}
	}

	.file-uploader {
		border-radius: 8px;
		border: 1px dashed $primary;
		background: rgba(35, 93, 65, 0.05);
		padding: 32px 16px;
		position: relative;

		.wpcf7-form-control-wrap {
			position: unset;
		}

		input {
			position: absolute;
			inset: 0;
			opacity: 0;
		}

		h5 {
			margin-bottom: 12px;
		}
	}
}

.select-field {
	border-radius: 8px;
	position: relative;
	background-color: $white;

	&::after {
		content: "";
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 12px;
		height: 7px;
		background: url(../images/angle-down.svg) no-repeat center/contain;
	}

	select {
		cursor: pointer;
		appearance: none;
		-webkit-appearance: none;
		background-color: transparent;
		position: relative;
		z-index: 1;
	}
}

.tab-controller {
	border-bottom: 1px solid $blackTransparent;
	margin-bottom: 32px;
	li {
		a {
			padding: 8px 16px;
		}
		&:hover,
		&.active {
			a {
				background-color: $primary;
				color: $white;
			}
		}
	}
	.select-field {
		padding: 16px;
		background-color: $primaryLight;
		select {
			border: none;
		}
	}
}

.tab-content {
	display: none;

	&.active {
		display: block;
	}
}

.wpcf7-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wpcf7-form.submitting {
	input[type="submit"] {
		pointer-events: none;
	}
}

.key-highlights {
	gap: 24px;
	li {
		flex: 1 1 calc(50% - 12px);
		gap: 12px;
		strong {
			color: $black;
			display: block;
		}
	}
	+ a {
		margin-top: 24px;
	}
}

.blog-single {
	border-radius: 12px;
	border: 1px solid $primary;
	background: #fff;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
	padding: 8px;

	h5 a,
	p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		-webkit-line-clamp: 2;
	}

	.bs-image {
		min-height: 204px;
		overflow: hidden;
		border-radius: 8px;

		a {
			height: 100%;
			display: block;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.bs-content-wrapper {
		padding: 24px 16px;

		.bs-content {
			h5 {
				&:has(+ p) {
					margin-bottom: 12px;
				}
			}
		}
		.bs-info {
			padding-top: 16px;
			margin-top: 16px;
			border-top: 1px solid $blackTransparent;

			ul {
				gap: 24px;

				li {
					padding-left: 28px;
					position: relative;

					img {
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}

					&:last-child {
						opacity: 0;
						transition: all 0.3s ease-in-out;
					}
				}
			}

			small {
				color: $black;
			}
		}
	}

	&:hover {
		.bs-content-wrapper {
			.bs-content {
				a {
					color: $primaryLight;
				}
			}
			.bs-info {
				ul {
					li {
						&:last-child {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

.pagination {
	gap: 12px;
	margin-top: 32px;
	justify-content: center;

	span,
	a {
		width: 48px;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;

		&.prev {
			svg {
				transform: rotate(180deg);
			}
		}

		&:hover,
		&.current {
			background-color: $primary;
			color: $white;

			svg {
				path {
					stroke: $white;
				}
			}
		}
	}
}
