$berlingske-serif-300: "berlingske-serif-300";
$berlingske-serif-400: "berlingske-serif-400";
$berlingske-serif-500: "berlingske-serif-500";
$berlingske-serif-600: "berlingske-serif-600";
$berlingske-serif-700: "berlingske-serif-700";
$berlingske-serif-700-italic: "berlingske-serif-700-italic";
$berlingske-serif-800: "berlingske-serif-800";
$berlingske-serif-900: "berlingske-serif-900";
