.about-block {
	.ab-content {
		p,
		ul {
			&:not(:last-child) {
				margin-bottom: 12px;

				&:has(+ a) {
					margin-bottom: 0;
				}
			}

			+ a {
				margin-top: 24px;
			}
		}
	}
}

@media (min-width: 992px) {
	.about-block {
		.section-title {
			margin-bottom: 0;
		}
		.ab-content {
			p,
			ul {
				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
		}
	}
}
