@use "../globals/global";
.cta-block {
	border-top: 1px solid global.$blackTransparent;
	.cta-list {
		gap: 8px;

		a {
			width: 100%;
			text-align: center;
		}
	}
}
@media (min-width: 576px) {
	.cta-block {
		.cta-list {
			a {
				width: unset;
			}
		}
	}
}

@media (min-width: 992px) {
	.cta-block {
		&.section-padding-y {
			padding: 72px 0;
		}
	}
}
